.cover__subtitle {
    max-width: calc(100% - 824px);
    margin: 32px auto 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}

@media screen and (max-width: 1143px) {
    .cover__subtitle {
        max-width: calc(100% - 664px);
    }
}

@media screen and (max-width: 941px) {
    .cover__subtitle {
        max-width: calc(100% - 408px);
    }
}

@media screen and (max-width: 632px) {
    .cover__subtitle {
        max-width: calc(100% - 32px);
        margin-top: 16px;

        font-size: 14px;
        line-height: 1.14;
    }
}