.cover__subtitle {
    margin: 32px auto 0;
    padding-left: calc((100% - 360px)/2);
    padding-right: calc((100% - 360px)/2);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}

@media screen and (max-width: 691px) {
    .cover__subtitle {
        margin-top: 16px;
        padding-left: calc((100% - 288px)/2);
        padding-right: calc((100% - 288px)/2);

        font-size: 14px;
        line-height: 1.14;
    }
}