.lead__title {
    box-sizing: border-box;
    display: flex;

    justify-content: center;

    margin: 0;
    padding-left: calc((100% - 720px)/2);
    padding-right: calc((100% - 720px)/2);

    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 691px) {
    .lead__title {
        padding-left: calc((100% - 288px)/2);
        padding-right: calc((100% - 288px)/2);

        font-size: 40px;
        line-height: 1.1;
    }
}