.place__paragraph {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:nth-child(2) {
    margin-top: 25px;
}

@media screen and (max-width: 941px) {
    .place__paragraph {
        font-size: 16px;
    }

    .place__paragraph:nth-child(2) {
        margin-top: 25px;
    }
}