.cover__background {
    max-width: calc(100% - 96px);
    min-height: 100%;
    margin: 0 auto;

    position: relative;

    background-image: url(../../../images/cover-img-l.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1143px) {
    .cover__background {
        background-image: url(../../../images/cover-img-m.jpg);
    }
}

@media screen and (max-width: 941px) {
    .cover__background {
        background-image: url(../../../images/cover-img-s.jpg);
    }
}

@media screen and (max-width: 632px) {
    .cover__background {
        background-image: url(../../../images/cover-img-xs.jpg);
    }
}