.place__website {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (max-width: 691px) {
    .place__website {
        max-width: calc(100% - 32px);
        margin: 0 16px 0;
    }
}