.place__website {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 632px) {
    .place__website {
        max-width: calc(100% - 32px);
        margin: 0 16px 0;
    }
}